# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# Django/local data
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/logs/

# Node
frontend/node_modules/
frontend/dist/
npm-debug.log*

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
